{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Calculateur de jupe cercle
{% endblock %}

{% block body %}
    <article class="card-body">
        <h2 class="card-title">Calculateur de jupe cercle</h2>

        <div class="form-control">
            {{ form_start(calculatorForm) }}
            {{ form_row(calculatorForm.tour_de_taille) }}
            {{ form_row(calculatorForm.longueur_jupe) }}

            <button type="submit" class="btn btn-primary">Calculer</button>
            {{ form_end(calculatorForm) }}
        </div>

        {% if resultat is not null %}
            <div class="card-text">
                <p>La quantité de tissu nécessaire est de {{ resultat|number_format(2) }} cm.</p>
            </div>
        {% endif %}
    </article>

{% endblock %}


