{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Détail du patron
{% endblock %}

{% block body %}
    <div class="pattern-detail">

        <div class=" img-pattern-detail text-center">
            {#                        afficher soit l'icon soit img si existe #}
            {% if pattern.image != null %}
                <img src="{{ asset('img/images/patterns/' ~ pattern.image) }}" alt="{{ pattern.title }}">
            {% else %}
                <img class="sewing-icon" src="{{ asset('img/sewing_icon.png') }}" alt="{{ pattern.title }}">
            {% endif %}
            <div class="pattern-name">{{ pattern.title }}</div>
        </div>
        <div>

            <p class="pattern-credit"><span class="bold">Créatrice.teur. : </span>{{ pattern.author }}</p>
            <p class="card-text"><span class="bold">Catégorie : </span>{{ pattern.category.name }}</p>
            <p class="card-text"><span class="bold">Patron imprimé : </span>{{ pattern.isPrinted ? 'Oui' : 'Non' }}</p>
            <p class="card-text"><span class="bold">Projet réalisé : </span>{{ pattern.isRealized ? 'Oui' : 'Non' }}</p>
            {% if pattern.isrealized %}
                <p class="card-text"><span
                            class="bold">Date de réalisation : </span>{{ pattern.dateRealized|date('d-m-Y') }}</p>
                <p class="card-text"><span class="bold">Commentaire : </span>{{ pattern.commentary | nl2br }}</p>
            {% endif %}
        </div>

        <div class="buttons-container">
            {% if app.user or is_granted('ROLE_ADMIN') %}
                <a href="{{ path('pattern_update', {'id': pattern.id}) }}"
                   class="btn btn-secondary mt-2"
                   title="Modifier ce patron">
                    Modifier
                </a>
            {% endif %}
            {% if app.user or is_granted('ROLE_ADMIN') %}
                <a href="{{ path('pattern_delete', {'id': pattern.id, 'token': csrf_token ('delete'~pattern.id)}) }}"
                   class="btn btn-danger mt-2"
                   title="Supprimer ce patron">
                    Supprimer
                </a>
            {% endif %}

        </div>
    </div>
{% endblock %}