{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Liste des patrons
{% endblock %}

{% block body %}
    {% include 'fragments/_search_data.html.twig' with
    {'form': form, 'route': 'list'} %}
    <section class="container mt-2">
        <h2>Liste de mes patrons :</h2>
        {% for pattern in patterns %}
            <article class=" patterns-list text-center">
                <div class="img-pattern">
                    {% if pattern.image != null %}
                        <img class="img-fluid" src="{{ asset('img/images/patterns/' ~ pattern.image) }}" alt="{{ pattern.title }}">
                    {% else %}
                        <img class="img-fluid text-center" src="{{ asset('img/sewing_icon.png') }}" alt="{{ pattern.title }}" >
                    {% endif %}
                </div>

                <div class="infos-card">
                <h5 class="card-title">{{ pattern.title }}</h5>
                    <p>Créatrice.teur. : {{ pattern.author }}</p>
                    <a class="btn-template" href="{{ path('pattern_detail', {id: pattern.id}) }}"
                       title="Voir les détails de ce patron">Voir</a>
                </div>
            </article>
        {% endfor %}
    </section>
{% endblock %}