{% if pageCount > 1 %}
    <ul class="pagination">
        {# Bouton "Précédent" #}
        {% if first is defined and current != first %}
            <li class="prev">
                <a href="{{ path(route, query|merge({(pageParameterName): first})) }}" title="Page précédente"> < </a>
            </li>
        {% else %}
            <li class="prev disabled">
                <a href="#" title="Page précédente"> < </a>
            </li>
        {% endif %}

        {# Pages numérotées #}
        {% for page in pagesInRange %}
            {% if page != current %}
                <li>
                    <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                </li>
            {% else %}
                <li class="active">
                    <a href="#">{{ page }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {# Bouton "Suivant" #}
        {% if last is defined and current != last %}
            <li class="next">
                <a href="{{ path(route, query|merge({(pageParameterName): last})) }}" title="Page suivante"> > </a>
            </li>
        {% else %}
            <li class="next disabled">
                <a href="#" title="Page suivante"> > </a>
            </li>
        {% endif %}
    </ul>
{% endif %}